# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# TS / build
tsconfig.tsbuildinfo

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# local data files
/data/city.list.min.json
/data/country.list.json

# local scripts

# local testing
/test

# vercel
.vercel

# VS Code
.vscode