.weatherDisplay {
    position: relative;

    min-width: 16rem;
    min-height: 15rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0 0 7px 1px #6f6f6f;
    border-radius: 10px;
    padding: 5px;

    text-align: center;

    transition: all 1s ease;

    h2 {
        font-size: 1.2rem;
        margin: 5px;
        padding: 0;
    }

    h3 {
        font-size: 1.1rem;
        margin: 0;
        padding: 0;
    }

    .weatherDetails {
        font-size: .9rem;
    }

    // Expanded display (to show forecast)
    &.expanded {
        min-width: 22.5rem;
        min-height: 17.5rem;

        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    // Optional color
    &.withColor {
        background: #d5fffb;
        background: linear-gradient(144deg, #edfbfe 35%, #9eefff 100%);
    }
}

// Current Weather
.currentWeather {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;

    line-height: 1.5rem;
}

.weatherIcon {
    & > img {
        max-width: 80px;
    }
}

// Forecast
.forecast {
    display: flex;
    flex: 1;
    flex-wrap: wrap;

    align-items: flex-start;
    justify-content: space-between;
    
    width: 100%;

    font-size: 0.8rem;

    h3 {
        font-size: .9rem;
    }

    .day {
        width: 33.33%;
    }
}

.forecastIcon {
    & > img {
        max-width: 50px;
    }
}

// BUTTONS
.expandButton {
    all: unset;
    line-height: 0;

    position: absolute;
    bottom: 0;
    right: 50%;
    margin-right: -13px;

    border: solid 1px transparent;
    border-radius: 50%;

    cursor: pointer;

    &:hover, &:active, &:focus {
        border-color: black;
    }
}

.addButton {
    position: absolute;
    bottom: 0;
    right: 0;

    cursor: pointer;

    border: solid 1px transparent;
    border-radius: 10px;

    &:hover {
        border: solid 1px black; 
    }
}

.removeButton {
    all: unset;
    line-height: 0;

    position: absolute;
    bottom: 0;
    right: 0;
    

    cursor: pointer;

    border: solid 1px transparent;
    border-radius: 50%;

    &:hover, &:active, &:focus {
        border: solid 1px black; 
    }
}