// WeatherDisplay component
.weatherDisplay {
    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0 0 7px 1px #6f6f6f;
    border-radius: 10px;
    padding: 5px;

    text-align: center;

    transition: all .7s ease;

    h2 {
        font-size: 1.2rem;
        margin: 5px;
        padding: 0;
    }

    h3 {
        font-size: 1.1rem;
        margin: 0;
        padding: 0;
    }

    .weatherDetails {
        font-size: .9rem;
    }

    // Expanded display (to show forecast)
    &.expanded {
        min-width: 25rem;
        min-height: 19rem;
        margin: 0.5rem;
    }

    // Optional color
    &.withColor {
        background: #d5fffb;
        background: linear-gradient(144deg, #edfbfe 50%, #9eefff 100%);
    }
}

// Current Weather
.currentWeather {
    flex: 1 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    line-height: 1.5rem;

    .weatherIcon {
        & > img {
            max-width: 80px;
        }
    }

    transition: opacity .4s linear;

    &.fadingOut {
        opacity: 0;
    }
}

// Forecast daily view
.forecast.dailyView {
    --day-border-color: hsl(0, 0%, 76%);
    --day-border-hover-color: hsla(0, 0%, 76%, 0.3);

    flex: 1 0 auto;

    position: relative;
    display: flex;
    flex-wrap: wrap;

    align-items: stretch;
    justify-content: space-between;
    gap: 4px;
    
    width: 100%;

    h3 {
        font-size: .9rem;
    }

    .day {
        flex: 1 1 23%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        background: transparent;
        border: solid 1px var(--day-border-color);
        border-radius: 8px;
        padding: 5px 0 0;

        font: inherit;
        font-size: 0.75rem;
        cursor: pointer;

        &:hover {
            background-color: var(--day-border-hover-color);
        }

        &.hidden {
            visibility: hidden;
        }

        .forecastIcon {
            & > img {
                max-width: 2.8rem;
            }
        }
    }
}

// Forecast Day view
.forecast.dayView {
    flex: 1 0 auto;
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;

    h3 {
        font-size: 1rem;
        margin-block: 4px;
    }
    
    & > .dayViewNavigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: center;
        min-width: 40%;

        // Back button when viewing a day's forecast
        .backButton {
            position: absolute;
            top: 2px;
            left: 2px;
            z-index: 10;
        }
    }

    & > .dayViewContent {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: space-around;

        font-size: .9rem;
        line-height: 1.6;

        .hourlyButton {
            all: unset;
    
            cursor: pointer;
    
            padding: 0 2px;
            border: dotted 2px #bbbbbb;
            border-radius: 4px;
    
            &:hover, &:active, &:focus {
                border: solid 2px black;
            }
        }
    }
}

// Weather display controls (expand, remove)
.controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    // for now, does nothing
    .editButton {
        visibility: hidden;
    }
}

// All control buttons
button.controlButton {
    all: unset;
    line-height: 0;

    height: 24px;
    width: 24px;

    cursor: pointer;

    border: solid 1px transparent;
    border-radius: 50%;

    &:hover, &:active, &:focus {
        border-color: black;
    }

    &.hidden {
        visibility: hidden;
    }
}