.weatherDisplay {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0 0 7px 1px #6f6f6f;
    border-radius: 10px;
    padding: 5px;

    text-align: center;

    transition: all 1s ease;

    h2 {
        font-size: 1.2rem;
        margin: 5px;
        padding: 0;
    }

    h3 {
        font-size: 1.1rem;
        margin: 0;
        padding: 0;
    }

    // Expanded display (to show forecast)
    &.expanded {
        flex: 1;
        min-height: 300px;
    }

    // Optional color
    &.withColor {
        background: #d5fffb;
        background: linear-gradient(144deg, #edfbfe 35%, #9eefff 100%);
    }
}

.weatherDetails {
    font-size: .9rem;
}


// Current Weather
.currentWeather {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;

    line-height: 1.5rem;
}

.weatherIcon {
    & > img {
        max-width: 80px;
    }
}

// Forecast
.forecast {
    display: flex;
    flex: 1;

    align-items: center;
    justify-content: space-around;
    
    width: 100%;
}

// BUTTONS
.expandButton {
    position: absolute;
    bottom: 0;
    right: 50%;
}

.addButton {
    position: absolute;
    bottom: 0;
    right: 0;

    cursor: pointer;

    border: solid 1px transparent;
    border-radius: 10px;

    &:hover {
        border: solid 1px black; 
    }
}

.removeButton {
    position: absolute;
    bottom: 1px;
    right: 1px;

    cursor: pointer;

    border: solid 1px transparent;
    border-radius: 50%;

    background: none;
    color: gray;

    &:hover {
        border: solid 1px black; 
    }
}