.citySearch {
    display: flex;
    align-items: baseline;
    gap: 4px;
    font-size: 1.1rem;
}

.citySearchLabel {
    flex: 0 0 auto;
}

#citySearchInput {
    border: 2px solid black;
    border-radius: 10px;
    padding: 2px 7px;
    width: 100%;

    &.loading {
        & + .loadingIcon {
            display: inline-block;
        }
    }

    & + .loadingIcon {
        display: none;
        position: absolute;
        top: 12px;
        right: 30px;

        height: 6px;
        width: 6px;
        border-radius: 50%;

        background: red;
    }
}

.citySearchContainer {
    position: relative;
    flex: 1 0 auto;
}

.citySearchItemList {
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 1px 2px;
    padding: 2px;
}

.citySearchItem {
    display: block;
    cursor: pointer;
    border: none;
    // border-radius: 5px;
    background: unset;

    width: 100%;
    padding: 5px 4px;

    text-align: start;

    &:hover {
        background-color: #e2e2e2;
    }
}