.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;


    & > * {
        margin: 1.5rem;

        min-width: 18.75rem;
        max-width: 22.5rem;

        min-height: 13.75rem;
    }

    // Optional colors for city grid (a little fun with HSL and gradients):
    &.withColor {
        --gradientAngle: 144deg;
        --gradientStart: 55%;
        --gradientEnd: 100%;
        --cityBackground1: linear-gradient(var(--gradientAngle), hsl(190, 100%, 98%) var(--gradientStart), hsl(190, 100%, 85%) var(--gradientEnd));
        --cityBackground2: linear-gradient(var(--gradientAngle), hsl(150, 100%, 98%) var(--gradientStart), hsl(150, 100%, 85%) var(--gradientEnd));
        --cityBackground3: linear-gradient(var(--gradientAngle), hsl(260, 100%, 98%) var(--gradientStart), hsl(260, 100%, 85%) var(--gradientEnd));
        --cityBackground4: linear-gradient(var(--gradientAngle), hsl(330, 100%, 98%) var(--gradientStart), hsl(330, 100%, 85%) var(--gradientEnd));
    
        & > :nth-child(1) {background: var(--cityBackground1)}
        & > :nth-child(2) {background: var(--cityBackground2)}
        & > :nth-child(3) {background: var(--cityBackground3)}
        & > :nth-child(4) {background: var(--cityBackground4)}
    }
}

.noCitiesButton {
    background: none;
    border: dashed gray 1px;
    border-radius: 10px;
    color: #3e3e3e;

    cursor: pointer;

    &:hover {
        background: #c7c7c7;
    }
}