.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;


    & > * {
        margin: 1.5rem;
        min-width: 280px;
        min-height: 220px;
    }
}

.noCitiesButton {
    background: none;
    border: dashed gray 1px;
    border-radius: 10px;

    cursor: pointer;

    &:hover {
        background: #c7c7c7;
    }
}