:root {
  --blue-light: hsl(190, 100%, 72%);
  --blue-medium: hsl(198, 100%, 50%);
}

*, *::after, *::before {
  box-sizing: border-box;
  font-size: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover, &:focus, &:active {
    text-decoration: underline;
  }
}

.material-icons {
  &.md-24 { font-size: 24px; }
  &.md-36 { font-size: 36px; }
  &.md-48 { font-size: 48px; }

  &.gray-hover {
    color: hsla(0, 0%, 24%, 0.7);

    &:hover {
      color: hsl(0, 0%, 23%);
    }
  }
}