.weather {
    flex: 1 0 auto;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    margin: 1rem;
    width: 80%;
    max-width: 380px;

    & > :last-child {
        margin-bottom: 2rem;
    }
}