.weather {
    position: relative;
    flex: 1 0 auto;

    margin: 1rem;
    width: 80%;
    max-width: 26rem;

    & > :last-child {
        position: absolute;
        top: 30%;
        width: 100%;
        margin-bottom: 2rem;
    }
}