.weather {
    flex: 1 0 auto;

    display: flex;
    flex-direction: column;

    margin: 1rem;

    & > :first-child {
        flex: 1 0 50%;
    }

    & > :nth-child(2) {
        flex: 1 0 50%;
    }
}